<a href="https://colab.research.google.com/github/profanup/RLab/blob/main/R_Experiment1_writeup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basics of R Programming**

Let us learn basic building blocks of the R programming language.

In most comman way R can be though as an interactive calculator.

Try executing following code block

In [ ]:
#Code cell
5*7

In [ ]:
typeof(12)

 **Store computed value in a variable**

 The way you assign a value to a variable in R is by using the assignment operator, which is just a 'less than'symbol followed by a 'minus' sign. It looks like this: <-

In [ ]:
#Store result of 5+7 in varible c
c<-5+8*6
c

In [ ]:
typeof(c)

We can further use variable c in another exrpession to create variable b which is 1 excess that one fourth of value of c

In [ ]:
b<-c/4+1
b 
d=c/4+1
d

In [ ]:
typeof(b)
typeof(d)

**Creation of Vector**

The easiest way to create a vector is with the c() function, which stands for 'concatenate' or 'combine'. 

 To create a vector containing the numbers 1.1, 9, and 3.14, type c(1.1, 9, 3.14). Try it now and store the result in a variable called z in following code block.

In [ ]:
z <- c(1.1, 9, 'dhg')
z
z1 <- c(1.1, 9, 5,566,4564.545646)
z1

In [ ]:
typeof(z)
typeof(z1)
class(z)

In [ ]:
z

In [ ]:
#Get Documentation about concatinate
?c
#help(c)

**You can combine vectors to make a new vector** 

Create a new vector that contains z, 555, then z again in that order. Don't assign this vector to a new variable, so that we can just see the result immediately.

In [ ]:
d <-c(z,555,z)
length(d)

In [ ]:
z<-c(3,6,5)

**Using Vector in Expression**

compute z^2 + 3 and check output

In [ ]:
z
z^2+3

When we do z * 2 + 100, z is a vector of length 3, but technically 2 and 100 are each vectors of length 1. **Try it in the code block below**.

**Comman Arithmatic Operators in R**

+, -, /, *, ^ are comman operators and sqrt, abs are arithmatic functions in R

When given two vectors of the same length, R simply performs the specified arithmetic operation (`+`, `-`, `*` etc.) element-by-element. If the vectors are of different lengths, R 'recycles' the shorter vector until it is the same length as the longer vector.

In [ ]:
y<-rep(2,10)
y
length(y)

In [ ]:
# Does recycling explains output of following expression
c(1, 2, 3, 4) + c(0, 10)
c(1, 2, 3, 4) + c(0, 10, 0 ,10)
c(1, 2, 3, 4, 5) + c(2, 10)
c(1, 2, 3, 4, 5) + c(2, 10, 2, 10, 2)

**How to access disk?**

In [ ]:
curdir<-getwd()
curdir

In [ ]:
ls()

In [ ]:
#show you files in PWD
list.files()
#dir('.')

In [ ]:
list.dirs('sample_data')

In [ ]:
old_dir<-getwd()

In [ ]:
#creates a folder on ur device 
dir.create('test2')

In [ ]:
list.dirs()

In [ ]:
getwd()

In [ ]:
file.create('mytest.R')

In [ ]:
dir()

In [ ]:
file.exists('/test2/mytest.R')
file.exists('mytest.R')

In [ ]:
file.info('./myTest.R')

In [ ]:
file.rename('mytest.R','mytest2.R')

[1] TRUE

In [ ]:
dir()

In [ ]:
file.copy('mytest2.R','mytest3.R')

In [ ]:
file.path('testdir2','testdir3')

In [ ]:
 dir.create(file.path('testdir2','testdir3'),recursive = TRUE)

In [ ]:
dir()

In [ ]:
setwd('testdir2')

In [ ]:
dir()
getwd()

**Complete following tasks**

Write R Code:
 

1.    To create a directory named myworkplace in current working dirctory.
2.   Create a folders/directories **exp1 and exp2** in it.
3.   Navigate to **exp1** and create a file named **my_file.txt**. 
4.   Copy it to **my_file1.txt**
5.   List files and folders in PWD and also in '/contents' directory  
6.   Display only File access permisssion in the output for every file in **exp1** folder.

In [ ]:
#create a directory named myworkplace in current working dirctory.
dir.create('myworkplace')

In [ ]:
#validation
dir()

[1] "myworkplace" "testdir3"

In [ ]:
#Create a folders/directories exp1 and exp2 inside it.
dirlist <- c('exp1','exp2')
#dirlist[1]
paths <- file.path('workplace',dirlist)
dir.create(paths[1],recursive = TRUE)
dir.create(paths[2],recursive=TRUE)

In [ ]:
dir('./workplace')
file.info('./workplace/exp1')

[1] "exp1" "exp2"

                 size isdir mode mtime               ctime
./workplace/exp1 4096 TRUE  755  2021-02-11 09:38:49 2021-02-11 09:38:49
                 atime               uid gid uname grname
./workplace/exp1 2021-02-11 09:38:49 0   0   root  root

In [ ]:
#navigate to exp1 directory
setwd(paths[1])
getwd()

[1] "/content/testdir2/workplace/exp1"

In [ ]:
file.create('myfile.txt')

[1] TRUE